# .gitignore per il progetto Dashboard Royalties

# File di sistema
.DS_Store
Thumbs.db

# File temporanei
*.tmp
*.bak
*.swp

# File di ambiente
.env

# File di log
*.log

# File di backup
*.zip

# Directory di build
/dist
/build

# Directory node_modules se si aggiungono dipendenze npm
/node_modules

# File di configurazione IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
